/* Variables */
:root{
    --color-principal: #3d64e6;
    --color-white: #ffffff;
    --color-text: #222a43;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--color-principal);
}

.container{
    background-color: var(--color-white);
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: var(--color-principal);
    color: var(--color-white);
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.search-wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid var(--color-principal);
    outline: none;
    color: var(--color-text);
}

#result{
    margin-top: 1.25em;
}

.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: var(--color-text);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: var(--color-text);
}

.container span{
    color: #5d6274;
}

.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}